<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title> Change Password </mat-panel-title>

    <mat-panel-description> Type your new password </mat-panel-description>
  </mat-expansion-panel-header>

  <form [formGroup]="form" fxLayout="column" fxLayoutGap="12px">
    <mat-form-field>
      <input
        formControlName="currentPassword"
        matInput
        placeholder="Current password"
        required
        type="password"
      />

      <mat-error
        *ngFor="
          let error of formErrorService.mapErrors(
            form.get('currentPassword')?.errors,
            'Current password'
          )
        "
      >
        {{ error }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        formControlName="password"
        matInput
        placeholder="New password"
        required
        type="password"
      />

      <mat-error
        *ngFor="
          let error of formErrorService.mapErrors(
            form.get('password')?.errors,
            'New password'
          )
        "
      >
        {{ error }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        formControlName="passwordConfirmation"
        matInput
        placeholder="New password confirmation"
        required
        type="password"
      />

      <mat-error
        *ngFor="
          let error of formErrorService.mapErrors(
            form.get('passwordConfirmation')?.errors,
            'Password and Password confirmation'
          )
        "
      >
        {{ error }}
      </mat-error>
    </mat-form-field>

    <mat-action-row>
      <button color="primary" mat-button (click)="onUpdatePassword()">
        Update password
      </button>
    </mat-action-row>
  </form>
</mat-expansion-panel>
