<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title> Change Password </mat-panel-title>

    <mat-panel-description> Type your new password </mat-panel-description>
  </mat-expansion-panel-header>

  <form [formGroup]="form">
    <mat-form-field>
      <input
        formControlName="currentPassword"
        matInput
        placeholder="Current password"
        required
        type="password"
      />

      <mat-error
        *ngFor="
          let error of formErrorService.mapErrors(
            form.get('currentPassword')?.errors
          )
        "
      >
        {{ error }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        formControlName="password"
        matInput
        placeholder="New password"
        required
        type="password"
      />

      <mat-error
        *ngFor="
          let error of formErrorService.mapErrors(form.get('password')?.errors)
        "
      >
        {{ error }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        formControlName="passwordConfirmation"
        matInput
        placeholder="New password confirmation"
        required
        type="password"
      />

      <mat-error
        *ngFor="
          let error of formErrorService.mapErrors(
            form.get('passwordConfirmation')?.errors,
            'Password and Password confirmation'
          )
        "
      >
        {{ error }}
      </mat-error>
    </mat-form-field>
  </form>

  <mat-action-row>
    <button
      color="primary"
      [disabled]="!form.valid"
      mat-button
      (click)="onUpdatePassword()"
    >
      Update password
    </button>
  </mat-action-row>
</mat-expansion-panel>
