<mat-toolbar color="primary">
  <button mat-icon-button (click)="openMenu.emit()">
    <fa-icon [icon]="['fas', 'bars']" size="lg"></fa-icon>
  </button>

  <ng-content></ng-content>

  &nbsp;
  <fa-icon
    [icon]="['fas', 'spinner']"
    [spin]="true"
    *ngIf="isSpinnerLoading"
  ></fa-icon>

  <span class="spacer"></span>

  <a
    mat-icon-button
    matTooltip="Create an account"
    *ngIf="!loggedIn"
    routerLink="/create-account"
  >
    <fa-icon [icon]="['fas', 'user-plus']" size="lg"></fa-icon>
  </a>

  <a
    mat-button
    matTooltip="Login into app"
    *ngIf="!loggedIn"
    routerLink="/login"
  >
    Login
  </a>

  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    matTooltip="{{ user?.name }}"
    [matTooltipPosition]="'right'"
    *ngIf="loggedIn"
  >
    <fa-icon [icon]="['fas', 'user-circle']"></fa-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="logout.emit()">
      Logout
    </button>
  </mat-menu>
</mat-toolbar>
