.container {
  min-height: 100%;
  width: 100%;
  padding-top: 10px;
}

.red {
  color: red;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.spacer {
  flex: 1 1 auto;
}
