<mat-card>
  <mat-card-title>Login</mat-card-title>

  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <p>
        <mat-form-field>
          <input
            formControlName="email"
            matInput
            placeholder="Email"
            required
            type="email"
          />
          <mat-error
            *ngFor="
              let error of formErrorService.mapErrors(form.get('email')?.errors)
            "
          >
            {{ error }}
          </mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input
            formControlName="password"
            matInput
            placeholder="Password"
            required
            type="password"
          />
          <mat-error
            *ngFor="
              let error of formErrorService.mapErrors(
                form.get('password')?.errors
              )
            "
          >
            {{ error }}
          </mat-error>
        </mat-form-field>
      </p>

      <p class="submitButton">
        <button
          color="primary"
          [disabled]="'login' | swIsLoading | async"
          mat-raised-button
          type="submit"
        >
          <fa-icon
            *ngIf="'login' | swIsLoading | async"
            [icon]="['fas', 'spinner']"
            [spin]="true"
          ></fa-icon>
          Login
        </button>
      </p>

      <p>
        <a mat-button routerLink="/forgot-password">Forgot password?</a>
      </p>

      <p>
        <a mat-button routerLink="/resend-confirmation">
          Resend confirmation email
        </a>
      </p>
    </form>
  </mat-card-content>
</mat-card>
