<div class="container">
  <h1 class="mat-h1">Welcome to Controlled Health</h1>

  <mat-grid-list [cols]="cols" rowHeight="250px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar>
            <mat-icon>favorite</mat-icon>
          </div>
          <mat-card-title> Free </mat-card-title>
        </mat-card-header>

        <mat-card-content class="card-content">
          You don't have to pay anything. We want to help you take care of your
          health.
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar>
            <mat-icon>mobile_friendly</mat-icon>
          </div>
          <mat-card-title> Responsive </mat-card-title>
        </mat-card-header>

        <mat-card-content class="card-content">
          It means that you can access from your computer, tablet or cell phone.
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar>
            <mat-icon>code</mat-icon>
          </div>
          <mat-card-title> Open Source Code </mat-card-title>
        </mat-card-header>

        <mat-card-content
          class="card-content"
          fxLayout="column"
          fxLayoutGap="5px"
        >
          <div>
            You can have the source code of this application or even collaborate
            to improve it.
          </div>

          <a
            mat-raised-button
            href="https://github.com/peimelo/controlled-health-frontend"
            target="_blank"
          >
            Controlled Health Frontend
          </a>

          <a
            mat-raised-button
            href="https://github.com/peimelo/controlled_health_api"
            target="_blank"
          >
            Controlled Health API
          </a>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar>
            <mat-icon>email</mat-icon>
          </div>
          <mat-card-title> Contact </mat-card-title>
        </mat-card-header>

        <mat-card-content class="card-content" fxLayout="column">
          Send an email to <strong>melo@andreiaemelo.com.br</strong> and we will
          respond as soon as possible.
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <h1 class="mat-h1">Functionalities</h1>

  <mat-grid-list [cols]="cols === 4 ? 2 : 1" rowHeight="400px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar>
            <fa-icon [icon]="['fas', 'weight']" size="2x"></fa-icon>
          </div>
          <mat-card-title> Weight Control </mat-card-title>
        </mat-card-header>

        <img mat-card-image src="assets/weight.png" alt="Weight" />

        <mat-card-content class="card-content">
          Control the evolution of your weight.
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar>
            <mat-icon>height</mat-icon>
          </div>
          <mat-card-title> Height Control </mat-card-title>
        </mat-card-header>

        <img mat-card-image src="assets/height.png" alt="Height" />

        <mat-card-content class="card-content">
          Control the evolution of your height.
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
