.card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.card-content {
  text-align: center;
  height: 95%;
}

.mat-card-image {
  height: 80%;
  width: 80%;
  margin-left: 30px;
}
