<mat-card>
  <mat-card-title>Forgot Password</mat-card-title>

  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <p>
        <mat-form-field>
          <input
            formControlName="email"
            matInput
            placeholder="Email"
            required
            type="email"
          />
          <mat-error
            *ngFor="
              let error of formErrorService.mapErrors(form.get('email').errors)
            "
          >
            {{ error }}
          </mat-error>
        </mat-form-field>
      </p>

      <mat-error *ngFor="let error of errors">
        <p>{{ error }}</p>
      </mat-error>

      <p class="loginButtons">
        <button
          color="primary"
          [disabled]="!form.valid || pending"
          mat-raised-button
        >
          Send Reset Password
        </button>
      </p>
    </form>
  </mat-card-content>

  <mat-card-footer>
    <mat-progress-bar mode="indeterminate" *ngIf="pending"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
