<h1 mat-dialog-title>{{ isEditing ? "Update" : "Create" }} height</h1>

<form [formGroup]="form" novalidate>
  <div mat-dialog-content fxLayout fxLayout.xs="column" fxLayoutGap="10px">
    <app-date-picker [form]="form"> </app-date-picker>

    <mat-form-field fxFlex>
      <input
        [dropSpecialCharacters]="true"
        formControlName="value"
        mask="900"
        matInput
        placeholder="Value (centimeters)"
        required
      />
      <mat-error
        *ngFor="
          let error of formErrorService.mapErrors(
            form.get('value')?.errors,
            'Value'
          )
        "
      >
        {{ error }}
      </mat-error>
    </mat-form-field>
  </div>

  <div fxLayout fxLayoutAlign="end" mat-dialog-actions>
    <button fxflex mat-button [mat-dialog-close]="true">Cancel</button>

    <button fxflex mat-button *ngIf="!isEditing" (click)="onCreate()">
      Create
    </button>

    <button fxflex mat-button *ngIf="isEditing" (click)="onUpdate()">
      Update
    </button>
  </div>
</form>
