<h1 mat-dialog-title>{{ isEditing ? "Update" : "Create" }} height</h1>

<div mat-dialog-content>
  <form
    [formGroup]="form"
    fxLayout
    fxLayout.xs="column"
    fxLayoutGap="10px"
    novalidate
  >
    <mat-form-field fxFlex>
      <mat-label>Date</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        formControlName="date"
        maxlength="10"
        #pickerInput
        required
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error
        *ngIf="!form.controls['date'].valid && form.controls['date'].touched"
      >
        {{ getErrorDate(pickerInput.value) }}
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex>
      <input
        [dropSpecialCharacters]="true"
        formControlName="value"
        mask="900"
        matInput
        placeholder="Value (centimeters)"
        required
      />
      <mat-error
        *ngIf="!form.controls['value'].valid && form.controls['value'].touched"
      >
        {{ getErrorValue() }}
      </mat-error>
    </mat-form-field>
  </form>
</div>

<div fxLayout fxLayoutAlign="end" mat-dialog-actions>
  <button fxflex mat-button [mat-dialog-close]="true">Cancel</button>

  <button
    [disabled]="!form.valid || isLoading"
    fxflex
    mat-button
    *ngIf="!isEditing"
    type="button"
    (click)="onCreate(form)"
  >
    <fa-icon
      [icon]="['fas', 'spinner']"
      [spin]="true"
      *ngIf="isLoading"
    ></fa-icon>
    Create
  </button>

  <button
    [disabled]="!form.valid || isLoading"
    fxflex
    mat-button
    *ngIf="isEditing"
    type="button"
    (click)="onUpdate(form)"
  >
    <fa-icon
      [icon]="['fas', 'spinner']"
      [spin]="true"
      *ngIf="isLoading"
    ></fa-icon>
    Update
  </button>
</div>
