<mat-card>
  <mat-card-title>Create an Account</mat-card-title>

  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <p>
        <mat-form-field>
          <input
            formControlName="email"
            matInput
            placeholder="Email"
            required
            type="email"
          />
          <mat-error
            *ngFor="
              let error of formErrorService.mapErrors(form.get('email')?.errors)
            "
          >
            {{ error }}
          </mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input
            formControlName="password"
            matInput
            placeholder="Password"
            required
            type="password"
          />
          <mat-hint>Must be at least 6 characters.</mat-hint>
          <mat-error
            *ngFor="
              let error of formErrorService.mapErrors(
                form.get('password')?.errors
              )
            "
          >
            {{ error }}
          </mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input
            formControlName="passwordConfirmation"
            matInput
            placeholder="Password confirmation"
            required
            type="password"
          />
          <mat-error
            *ngFor="
              let error of formErrorService.mapErrors(
                form.get('passwordConfirmation')?.errors,
                'Password and Password confirmation'
              )
            "
          >
            {{ error }}
          </mat-error>
        </mat-form-field>
      </p>

      <p class="submitButton">
        <button
          color="primary"
          [disabled]="'createAccount' | swIsLoading | async"
          mat-raised-button
          type="submit"
        >
          <fa-icon
            *ngIf="'createAccount' | swIsLoading | async"
            [icon]="['fas', 'spinner']"
            [spin]="true"
          ></fa-icon>
          Create
        </button>
      </p>
    </form>
  </mat-card-content>
</mat-card>
