<button class="add-button" color="accent" mat-fab (click)="onAdd()">
  <mat-icon>add</mat-icon>
</button>

<div class="grid-container">
  <h1 class="mat-h1">Who is taking care of health?</h1>

  <mat-spinner *ngIf="isLoading"></mat-spinner>

  <div
    fxLayout="row wrap"
    fxLayout.lt-sm="column"
    fxLayoutAlign="flex-start"
    fxLayoutGap="32px"
    *ngIf="!isLoading"
  >
    <ng-container *ngFor="let account of accounts">
      <mat-card
        class="pointer"
        fxFlex="0 1 calc(33.3% - 32px)"
        fxFlex.lt-md="0 1 calc(50% - 32px)"
        fxFlex.lt-sm="100%"
        (click)="onEnter(account)"
      >
        <mat-card-header>
          <mat-card-title>
            {{ account.name }}

            <button
              mat-icon-button
              class="more-button"
              [matMenuTriggerFor]="menu"
              aria-label="Toggle menu"
              (click)="$event.stopPropagation()"
            >
              <mat-icon>more_vert</mat-icon>
            </button>

            <mat-menu #menu="matMenu" xPosition="before">
              <button
                mat-menu-item
                (click)="onEdit(account); $event.stopPropagation()"
              >
                Edit
              </button>
              <button
                mat-menu-item
                (click)="onDelete(account.id); $event.stopPropagation()"
                disabled
              >
                Remove
              </button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content class="dashboard-card-content"> </mat-card-content>
      </mat-card>
    </ng-container>
  </div>
</div>
