<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer fixedInViewport [mode]="'over'" [opened]="false">
    <mat-toolbar>Menu</mat-toolbar>

    <mat-nav-list>
      <app-nav-item
        matIcon="home"
        *ngIf="(loggedIn$ | async) === false"
        routerLink="/"
        (navigate)="drawer.toggle()"
      >
        Home
      </app-nav-item>

      <app-nav-item
        hint="Login into app"
        matIcon="login"
        *ngIf="(loggedIn$ | async) === false"
        routerLink="/login"
        (navigate)="drawer.toggle()"
      >
        Login
      </app-nav-item>

      <app-nav-item
        matIcon="person_add"
        *ngIf="(loggedIn$ | async) === false"
        routerLink="/create-account"
        (navigate)="drawer.toggle()"
      >
        Create an account
      </app-nav-item>

      <app-nav-item
        matIcon="logout"
        *ngIf="loggedIn$ | async"
        routerLink="/login"
        (navigate)="drawer.toggle(); logout()"
      >
        Logout
      </app-nav-item>

      <app-nav-item
        hint="View your Profiles"
        matIcon="switch_account"
        *ngIf="loggedIn$ | async"
        routerLink="/profiles"
        (navigate)="drawer.toggle()"
      >
        Profiles
      </app-nav-item>

      <app-nav-item
        hint="View your Dashboard"
        matIcon="dashboard"
        *ngIf="accountSelectedLoaded$ | async"
        routerLink="/dashboard"
        (navigate)="drawer.toggle()"
      >
        Dashboard
      </app-nav-item>

      <app-nav-item
        hint="View your Results"
        matIcon="rules"
        *ngIf="accountSelectedLoaded$ | async"
        routerLink="/results"
        (navigate)="drawer.toggle()"
      >
        Results
      </app-nav-item>

      <app-nav-item
        hint="View your Weights"
        fasIcon="weight"
        *ngIf="accountSelectedLoaded$ | async"
        routerLink="/weights"
        (navigate)="drawer.toggle()"
      >
        Weights
      </app-nav-item>

      <app-nav-item
        hint="View your Heights"
        matIcon="height"
        *ngIf="accountSelectedLoaded$ | async"
        routerLink="/heights"
        (navigate)="drawer.toggle()"
      >
        Heights
      </app-nav-item>

      <app-nav-item
        hint="View your References"
        matIcon="menu_book"
        *ngIf="isUserAdmin$ | async"
        routerLink="/references"
        (navigate)="drawer.toggle()"
      >
        References
      </app-nav-item>

      <app-nav-item
        hint="View your References"
        matIcon="superscript"
        *ngIf="isUserAdmin$ | async"
        routerLink="/units"
        (navigate)="drawer.toggle()"
      >
        Units
      </app-nav-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-toolbar
      [accountSelected]="accountSelected$ | async"
      [accountSelectedLoaded]="accountSelectedLoaded$ | async"
      [loggedIn]="loggedIn$ | async"
      [user]="user$ | async"
      (logout)="logout()"
      (openMenu)="drawer.toggle()"
    >
      Controlled Health
    </app-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
