<app-layout>
  <app-sidenav [open]="showSidenav$ | async" (closeMenu)="closeSidenav()">
    <app-nav-item
      hint="Login into app"
      icon="sign-in-alt"
      *ngIf="!(loggedIn$ | async)"
      routerLink="/login"
      (navigate)="closeSidenav()"
    >
      Login
    </app-nav-item>

    <app-nav-item
      icon="sign-out-alt"
      *ngIf="loggedIn$ | async"
      (navigate)="logout()"
    >
      Logout
    </app-nav-item>
  </app-sidenav>

  <app-toolbar
    [isSpinnerLoading]="showSpinner$ | async"
    [loggedIn]="loggedIn$ | async"
    [user]="user$ | async"
    (logout)="logout()"
    (openMenu)="openSidenav()"
  >
    Controlled Health
  </app-toolbar>

  <router-outlet></router-outlet>
</app-layout>
