<mat-card class="dashboard-card">
  <mat-card-header>
    <mat-card-title> Weights </mat-card-title>
  </mat-card-header>

  <mat-card-content class="dashboard-card-content">
    <ngx-charts-line-chart
      [autoScale]="autoScale"
      [results]="result"
      [scheme]="colorScheme"
      [xAxis]="xAxis"
      [xAxisLabel]="xAxisLabel"
      [showXAxisLabel]="showXAxisLabel"
      [yAxis]="yAxis"
      [yAxisLabel]="yAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
    >
    </ngx-charts-line-chart>
  </mat-card-content>
</mat-card>
