<mat-accordion multi>
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>show_chart</mat-icon>
        Weights
      </mat-panel-title>
    </mat-expansion-panel-header>

    <app-line-chart
      [data]="dashboard?.weights"
      [showTime]="true"
    ></app-line-chart>
  </mat-expansion-panel>

  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>show_chart</mat-icon>
        Heights
      </mat-panel-title>
    </mat-expansion-panel-header>

    <ng-container *ngIf="dashboard?.heights as heights">
      <app-line-chart
        [data]="heights"
        [showAverage]="false"
        [showTimeline]="false"
      ></app-line-chart>
    </ng-container>
  </mat-expansion-panel>
</mat-accordion>
