<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>

  <mat-grid-list cols="2" rowHeight="750px">
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <app-dashboard
        [dashboard]="dashboard$ | async"
        [data]="(dashboard$ | async).weights"
        [title]="'Weights'"
      ></app-dashboard>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <app-dashboard
        [dashboard]="dashboard$ | async"
        [data]="(dashboard$ | async).heights"
        [title]="'Heights'"
      ></app-dashboard>
    </mat-grid-tile>
  </mat-grid-list>
</div>
